<div class="dieu_huong margin-bottom-40">
    <section class="bread-crumb">
        <!-- <span class="crumb-border"></span> -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 a-left">
                    <ul class="breadcrumb">
                        <li class="home">
                            <a href="./index.html"><span style="color: #999999;">Trang chủ</span></a>
                        </li>
                        <li><strong><span> Tất cả sản phẩm</span></strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <div class="row">
        <div class="bg_collection">
            <div class="main_container col-lg-12 ">
                <div class="box-heading heading">
                    <h1 class="title-head">Tất cả sản phẩm</h1>
                </div>
                <div class="category-products margin-top-70">
                    <section class="products">
                        <div class="row">
                            {{#each products}}
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="product-box product_grid_2">
                                    <div class="product_mini_2 clearfix">
                                        <div class="img_product">
                                            <a href="san-pham/{{this.slug}}" class="product-img" title="{{this.name}}">
                                                <img src="{{this.img}}" alt="{{this.name}}">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <div class="infor_prd">
                                                <h3 class="name_product">
                                                    <a href="san-pham/{{this.slug}}" title="Cà phê Trứng"
                                                        class="product-name">
                                                        <span class="name_product_other">{{this.name}}</span>
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="price_base price_base_other">
                                                <div class="price-box clearfix">
                                                    <div class="special-price">
                                                        <span class="price product-price">{{this.cost}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="summary_grid">
                                                <div class="rte description text2line">
                                                    {{this.name}} là một loại thức uống có nguồn gốc từ Việt Nam được
                                                    làm từ cà phê
                                                    với trứng gà (có nhỏ thêm mật ong) và sữa đặc.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="product-box product_grid_2">
                                    <div class="product_mini_2 clearfix  ">
                                        <div class="img_product">
                                            <a href="./chitietsp.html" class="product-img" title="Cà phê đen">
                                                <img src="/img/capheden.jpg" alt="Cà phê đen">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <div class="infor_prd">
                                                <h3 class="name_product">
                                                    <a href="./chitietsp.html" title="Cà phê đen" class="product-name">
                                                        <span class="name_product_other">Cà phê đen</span>
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="price_base price_base_other">
                                                <div class="price-box clearfix">
                                                    <div class="special-price">
                                                        <span class="price product-price">20.000₫</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="summary_grid">
                                                <div class="rte description text2line">
                                                    Cà phê đen truyền thống là thức uống tuy đắng nhưng không thể
                                                    thiếu
                                                    của một số người "ghiền" cà phê
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="product-box product_grid_2">
                                    <div class="product_mini_2 clearfix  ">
                                        <div class="img_product">
                                            <a href="/ca-phe-cocopresso" class="product-img" title="Cà phê Cocopresso">
                                                <img src="/img/caphecoco.jpg" alt="Cà phê Cocoapresso">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <div class="infor_prd">
                                                <h3 class="name_product">
                                                    <a href="/ca-phe-cocopresso" title="Cà phê Cocopresso"
                                                        class="product-name">
                                                        <span class="name_product_other">Cà phê Cocopresso</span>
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="price_base price_base_other">
                                                <div class="price-box clearfix">
                                                    <div class="special-price">
                                                        <span class="price product-price">50.000₫</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="summary_grid">
                                                <div class="rte description text2line">
                                                    Cà phê Cocopresso là sự kết hợp giữa nước dừa tươi và Espresso
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="product-box product_grid_2">
                                    <div class="product_mini_2 clearfix  ">
                                        <div class="img_product">
                                            <a href="/ca-phe-matchaespresso" class="product-img"
                                                title="Cà phê Matcha Espresso">
                                                <img src="/img/caphematcha.jpg" alt="Cà phê Matcha Espresso">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <div class="infor_prd">
                                                <h3 class="name_product">
                                                    <a href="/ca-phe-matchaespresso" title="Cà phê Matchapresso"
                                                        class="product-name">
                                                        <span class="name_product_other">Cà phê Matcha
                                                            Espresso</span>
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="price_base price_base_other">
                                                <div class="price-box clearfix">
                                                    <div class="special-price">
                                                        <span class="price product-price">100.000₫</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="summary_grid">
                                                <div class="rte description text2line">
                                                    Cà phê Matcha Espresso là sự hòa quyện của café nồng nàn với vị
                                                    trà xanh
                                                    Nhật Bản thơm ngát cùng sữa tươi béo ngậy.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="product-box product_grid_2">
                                    <div class="product_mini_2 clearfix  ">
                                        <div class="img_product">
                                            <a href="/ca-phe-latte" class="product-img" title="Cà phê Latte">
                                                <img src="/img/caphelatte.jpg" alt="Cà phê Latte">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <div class="infor_prd">
                                                <h3 class="name_product">
                                                    <a href="/ca-phe-latte" title="Cà phê Latte" class="product-name">
                                                        <span class="name_product_other">Cà phê Latte</span>
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="price_base price_base_other">

                                                <div class="price-box clearfix">
                                                    <div class="special-price">
                                                        <span class="price product-price">50.000₫</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="summary_grid">
                                                <div class="rte description text2line">
                                                    Cà phê Latte có nguồn gốc từ Ý, gồm cà phê và sữa hay còn là cà
                                                    phê sữa
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="product-box product_grid_2">
                                    <div class="product_mini_2 clearfix  ">
                                        <div class="img_product">
                                            <a class="product-img" href="/ca-phe-cappuccino" title="Cà phê Cappuccino">
                                                <img src="/img/caphecapuchino.jpg" alt="Cà phê Cappuccino">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <div class="infor_prd">
                                                <h3 class="name_product">
                                                    <a href="/ca-phe-cappuccino" title="Cà phê Cappuccino"
                                                        class="product-name">
                                                        <span class="name_product_other">Cà phê Cappuccino</span>
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="price_base price_base_other">

                                                <div class="price-box clearfix">
                                                    <div class="special-price">
                                                        <span class="price product-price">60.000₫</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="summary_grid">
                                                <div class="rte description text2line">
                                                    Cà phê Cappuccino là thức uống có nguồn gốc tại Ý gồm cà phê và
                                                    sữa khuấy bông
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="product-box product_grid_2">
                                    <div class="product_mini_2 clearfix  ">
                                        <div class="img_product">
                                            <a href="/ca-phe-mojitopresso" class="product-img"
                                                title="Cà phê Mojito Presso">
                                                <img src="/img/caphemojito.jpg" alt="Cà phê Mojito Presso">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <div class="infor_prd">
                                                <h3 class="name_product">
                                                    <a href="/ca-phe-mojitopresso" title="Cà phê Mojito Presso"
                                                        class="product-name">
                                                        <span class="name_product_other">Cà phê Mojito Presso</span>
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="price_base price_base_other">
                                                <div class="price-box clearfix">
                                                    <div class="special-price">
                                                        <span class="price product-price">70.000₫</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="summary_grid">
                                                <div class="rte description text2line">
                                                    Cà phê Mojito Presso là sự kết hợp tinh tế giữa cà phê sữa và
                                                    bạc hà mát lạnh
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="product-box product_grid_2">
                                    <div class="product_mini_2 clearfix  ">
                                        <div class="img_product">
                                            <a href="/ca-phe-the-rainbow" class="product-img"
                                                title="Cà phê The Rainbow">
                                                <img src="/img/capherainbow.jpg" alt="Cà phê The Rainbow">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <div class="infor_prd">
                                                <h3 class="name_product">
                                                    <a href="/ca-phe-the-rainbow" title="Cà phê The Rainbow"
                                                        class="product-name">
                                                        <span class="name_product_other">Cà phê The Rainbow</span>
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="price_base price_base_other">

                                                <div class="price-box clearfix">
                                                    <div class="special-price">
                                                        <span class="price product-price">60.000₫</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="summary_grid">
                                                <div class="rte description text2line">
                                                    Cà phê The Rainbow đến từ một thương hiệu cà phê nổi tiếng mang
                                                    lại sự
                                                    trẻ trung, chất lượng hoàn hảo
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="product-box product_grid_2">
                                    <div class="product_mini_2 clearfix  ">
                                        <div class="img_product">
                                            <a href="/ca-phe-sua" class="product-img" title="Cà phê Sữa">
                                                <img src="/img/caphesua.jpg" alt="Cà phê Sữa">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <div class="infor_prd">
                                                <h3 class="name_product">
                                                    <a href="/ca-phe-sua" title="Cà phê sữa" class="product-name">
                                                        <span class="name_product_other">Cà phê sữa</span>
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="price_base price_base_other">

                                                <div class="price-box clearfix">
                                                    <div class="special-price">
                                                        <span class="price product-price">25.000₫</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="summary_grid">
                                                <div class="rte description text2line">
                                                    Cà phê sữa là thức uống được pha cà phê với sữa nên có vị béo
                                                    của sữa được rất nhiều người yêu thích
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="product-box product_grid_2">
                                    <div class="product_mini_2 clearfix  ">
                                        <div class="img_product">
                                            <a href="/bac-siu" class="product-img" title="Bạc Sỉu">
                                                <img src="/img/bacsiu.jpg" alt="Bạc Sỉu">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <div class="infor_prd">
                                                <h3 class="name_product">
                                                    <a href="/bac-siu" title="Bạc Sỉu" class="product-name">
                                                        <span class="name_product_other">Bạc Sỉu</span>
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="price_base price_base_other">
                                                <div class="price-box clearfix">
                                                    <div class="special-price">
                                                        <span class="price product-price">30.000₫</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="summary_grid">
                                                <div class="rte description text2line">
                                                    Bạc sỉu là thức uống giống với cà phê sữa tuy nhiên được pha
                                                    nhiều sữa hơn và 1 ít cà phê
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> --}}
                        </div>
                </div>
                </section>
            </div>
        </div>
    </div>
</div>
</div>